ion-card.myDesign {
    background-color: transparent;
    padding-top: 5%;
    width: 90%;
    display: block;
    margin: 0 auto;
    box-shadow: none;
}

h1.myDesign {
    text-align: center;
    color: #6DD5FD;
    font-family: 'Lucida Handwriting', cursive;
}

ion-button.myDesign {
    background-color: #6DD5FD !important;
}